<div id="admin-works-content">
	<%= render template: new_work_path %>
</div>

<script type="text/javascript">
	// Cuando el formulario se sube exitosamente
	$("#form-work").bind("ajax:success", function(evt, data, status, xhr) {
		console.log(data)
		// Se vacia el contenido
		$("#admin-works-content").empty();

		// Y se manda a la seleccion del display / crop
		$("#admin-works-content").append(data);
	});
</script>