<div id="admin-works-content">

	<div style="width: 95%; height: 580px; margin-top: 55px; margin-left: 3%; position: relative; outline: 1.5px solid #b4b4b4; border-top: 1px solid #fff;">
		
		HOLA AMIGOS

	</div>
</div>