<div id="admin-colaborator-content">
	<%= render partial: "colaborators/form_new_colaborator", locals: { colaborator: @colaborator } %>
</div>

<script type="text/javascript">
	// Cuando el formulario se sube exitosamente
	$("#submit-colaborator-form").bind("ajax:success", function(evt, data, status, xhr) {
		
		// Se vacia el contenido
		$("#admin-colaborator-content").empty();

		$("#admin-colaborator-content").append(xhr.responseText);
	});
</script>