
<div id="admin-home-news-content">
	<div style="width: 97.5%; height: 590px; margin-top: 10px; margin-left: 1.5%; position: relative; float: left; outline: 1.5px solid #b4b4b4; border-top: 1px solid #fff;">

		<!-- FORMA -->
		<div id="admin-home-news" style="margin-left: 19%; margin-top: 28px;">

			<!-- CARRUSEL -->
			<div style="font-family: latha, latha_ie; font-size: 1em; width: 750px; background: #626262; height: 300px; position: relative;">
				<div style="position: absolute; font-size: 4em; font-family: latha, latha_ie; left: 29%; top: 105px;">
					CARUSEL
				</div>
			</div>

			<!-- MENU -->
			<div style="font-family: latha, latha_ie; font-size: 1em; width: 750px; background: #C6C6C6; height: 37.5px; position: relative;">
				<div style="position: absolute; font-size: 2.5em; font-family: latha, latha_ie; left: 40%; top: -8px;">
					MENU
				</div>
			</div>

			<!-- NOTICIAS -->
			<div style="font-family: latha, latha_ie; font-size: 1em; width: 750px; background: #FFF; height: 112.5px; position: relative;">
				<div style="float:left; width: 186.75px; height: 100%; background: #000; cursor: pointer;" onclick="select_home_new(this, 1);">
				</div>

				<div style="float:left; width: 1.5px; height: 100%; background: #FFF;"></div>

				<div style="float:left; width: 186px; height: 100%; background: #000; cursor: pointer;" onclick="select_home_new(this, 2);">
				</div>

				<div style="float:left; width: 1.5px; height: 100%; background: #FFF;"></div>

				<div style="float:left; width: 186px; height: 100%; background: #000; cursor: pointer;" onclick="select_home_new(this, 3);">
				</div>

				<div style="float:left; width: 1.5px; height: 100%; background: #FFF;"></div>

				<div style="float:left; width: 186.75px; height: 100%; background: #000; cursor: pointer;" onclick="select_home_new(this, 4);">
				</div>
			</div>

		</div>

	</div>
</div>

<script type="text/javascript">

	function select_home_new(div_elem, number) {
		alert(number);
	}

</script>
