<%= render "shared/banner_admin" %>

<div id="wrapper-admin">
	<div id="menu-admin">
		<div class="pure-menu pure-menu-open">
			<ul>
				<li class="menu-item-divided">
					<a href="#">OBRAS</a>
				</li>

				<li class="menu-item-divided">
					<a href="#">COLABORADORES</a>
				</li>

				<li class="menu-item-divided">
					<a href="#">NOSOTROS</a>
				</li>

				<li class="menu-item-divided">
					<a href="#">PRENSA</a>
				</li>

				<li class="menu-item-divided">
					<a href="#">EXTRAS</a>
				</li>

				<li class="menu-item-divided">
					<a href="#">HOME</a>
				</li>

				<li class="menu-item-divided">
					<a href="#">PERFIL ADMINISTRADOR</a>
				</li>
			</ul>
		</div>
	</div>

</div>