<%= render "shared/banner_admin" %>

<div id="wrapper-admin">
	<%= render "shared/menu_admin" %>

	<div id="content-admin"></div>
</div>

<script type="text/javascript">
	
	$(function() {
		$("html").css("background", "#FFFFFF");
		$("body").css("background", "#FFFFFF");

		$("#new-work-menu-item").click();
	});

</script>