<style type="text/css">
	html {
		height: auto;

		background: #FFF;
	}

	body {
		height: auto;

		background: #FFF;
	}
</style>

<!-- BANNER ADMIN -->
<%= render "shared/banner_admin" %>

<div id="wrapper-admin">

	<!-- MENU ADMIN -->
	<%= render "shared/menu_admin" %>

	<div id="content-admin">
		<%= image_tag "bienvenida_admin.png", :style => "margin-top: 55px; margin-left: 6%;" %>
	</div>
</div>
