<script type="text/javascript">
	$(function() {
		$("html").css("width", "100%");
		$("html").css("background", "#a3a3a3");
		//$("html").css("background", "#000000");

		$("body").css("width", "100%");
		//$("body").css("background", "#000000");
		$("body").css("background", "linear-gradient(top , #FFFFFF, #a3a3a3) repeat-x");
		$("body").css("background", "-moz-linear-gradient(top , #FFFFFF , #a3a3a3) repeat-x");
		$("body").css("background", "-webkit-linear-gradient(top , #FFFFFF , #a3a3a3)repeat-x");
		$("body").css("background", "-ms-linear-gradient(top, #FFFFFF , #a3a3a3)repeat-x");
		$("body").css("filter", "progid:DXImageTransform.Microsoft.Gradient(startColorstr='#FFFFFF', endColorstr='#a3a3a3')");
	});
</script>

<div id="wrapper-tvp" >
	<div id="container-tvp" >

		<div id="banner-tvp" >
			<%= render "shared/banner_tvp" %>
		</div>

		<div id="menu-tvp-navigator" >
			<%= render "shared/menu_tvp" %>
		</div>

		<% if !@work.type_work.nil? %>
			<%= render partial: ("works/show_" + @work.type_work), locals: {work: @work} %>
		<% end %>
	</div>
</div>