<script type="text/javascript">
	function correctLineHeight(id_elem) {
		$("#" + id_elem).find("p").each(function() {
			var maxFontSize = 0;

			$(this).find("span").each(function() {
				var currFontSize = parseInt($(this).css('font-size').replace("px", ""));
				if(maxFontSize < currFontSize) {
					maxFontSize = currFontSize;
				}
			});

			if(maxFontSize == 0) {
				$(this).css("line-height", "9px");
			} else {
				$(this).css("line-height", maxFontSize + "px");
			}
		});
	}

	$(function() {
		$("html").css("background", "#000000");
		$("body").css("background", "#000000");
	});
</script>

<div id="#wrapper-tvp" >
	<div id="container-tvp" >
		<div id="banner-tvp" >
			<%= render "shared/banner_tvp" %>
		</div>

		<div style="margin-top: 25px;">
			<%= render "shared/menu_tvp" %>
		</div>

		<% if !@work.type_work.nil? %>
			<%= render partial: ("works/show/show_" + @work.type_work), locals: {work: @work} %>
		<% end %>

		<div id="legals-tvp">
			<%= image_tag "01-LEGALESTXT-BCO.png", :style => "width: 100%; cursor: pointer;" %>
		</div>

		<script type="text/javascript">
			$(function() {
				$("#legals-tvp").hover(function() {
					$("#legals-tvp img").attr('src', "/assets/02-LEGALESTXT-BCO.png");
				}, function() {
					$("#legals-tvp img").attr('src', "/assets/01-LEGALESTXT-BCO.png");
				});
			});
		</script>
	</div>
</div>