<script type="text/javascript">
	function correctLineHeight(id_elem) {
		$("#" + id_elem).find("p").each(function() {
			var maxFontSize = 0;

			$(this).find("span").each(function() {
				var currFontSize = parseInt($(this).css('font-size').replace("px", ""));
				if(maxFontSize < currFontSize) {
					maxFontSize = currFontSize;
				}
			});

			if(maxFontSize == 0) {
				$(this).css("line-height", "9px");
			} else {
				$(this).css("line-height", maxFontSize + "px");
			}

			if($(this).html() == "&nbsp;") {
				$(this).remove();
			}
		});
	}

	$(function() {
		$("html").css("background", "#000000");
		$("body").css("background", "#000000");
	});
</script>

<div id="wrapper-tvp" >
	<div id="container-tvp" >
		<div id="banner-tvp" >
			<%= render partial: "shared/banner_tvp", locals: { :bco => true } %>
		</div>

		<div style="margin-top: 25px;">
			<%= render partial: "shared/menu_tvp" %>
		</div>

		<% if !@work.type_work.nil? %>
			<%= render partial: ("works/show/show_" + @work.type_work), locals: {work: @work} %>
		<% end %>

		<div id="legals-tvp">
			<%= render partial: "shared/legals_tvp", locals: { :bco => true } %>
		</div>

	</div>
</div>
