<script type="text/javascript">
	function correctLineHeight(id_elem) {
		$("#" + id_elem).find("p").each(function() {
			var maxFontSize = 0;

			$(this).find("span").each(function() {
				var currFontSize = parseInt($(this).css('font-size').replace("px", ""));
				if(maxFontSize < currFontSize) {
					maxFontSize = currFontSize;
				}
			});

			if(maxFontSize == 0) {
				$(this).css("line-height", "9px");
			} else {
				$(this).css("line-height", maxFontSize + "px");
			}
		});
	}

	$(function() {
		$("html").css("background", "linear-gradient(top , #FFFFFF, #a3a3a3) repeat-x");
		$("html").css("background", "-moz-linear-gradient(top , #FFFFFF , #a3a3a3) repeat-x");
		$("html").css("background", "-webkit-linear-gradient(top , #FFFFFF , #a3a3a3)repeat-x");
		$("html").css("background", "-ms-linear-gradient(top, #FFFFFF , #a3a3a3)repeat-x");
		$("html").css("filter", "progid:DXImageTransform.Microsoft.Gradient(startColorstr='#FFFFFF', endColorstr='#a3a3a3')");
	});
</script>

<div id="#wrapper-tvp" >
	<div id="container-tvp" >
		<div id="banner-tvp" >
			<%= render "shared/banner_tvp" %>
		</div>

		<div style="margin-top: 25px;">
			<%= render "shared/menu_tvp" %>
		</div>

		<% if !@work.type_work.nil? %>
			<%= render partial: ("works/show/show_" + @work.type_work), locals: {work: @work} %>
		<% end %>
	</div>
</div>