<div id="banner-admin" >
	<div id="title-banner">
		<div id="logo-banner">
			<%= image_tag "LOGO_TORRE.png", :style => "width: 9.4%; height: auto;" %>

			<div style="float: right; margin-top: 2%;">TORRE DE VIENTO - ADMINISTRADOR</div>
		</div>
	</div>

	<%= link_to destroy_user_session_path, :method => :delete do %>
		<div id="logout-banner">
			<div style="margin-top: 9%; margin-left: 28%;">SALIR</div>
		</div>
	<% end %>
</div>
