<ul id="menu-tvp">
	<li style="width: 12.8%; padding-top: 14px;"><%= link_to "/", :style => "padding-left: 39%;" do %>INICIO<% end %></li>
	<li class="dropdown-tvp" style="width: 15%;"><div style="padding-left: 20%; padding-top: 14px;">NOSOTROS</div>
		<ul class="dropdown-menu-tvp" style="max-width: 100%; min-width: 100%; margin-top: 2%;">
			<li><div class="dropdown-item-tvp">Acerca de...</div></li>
			<li><div class="dropdown-item-tvp">Qué hacemos</div></li>
		</ul>
	</li>
	<li style="width: 24.9%; padding-top: 14px;"><%= link_to "#", :style => "padding-left: 12%;" do %>CATÁLOGO  DE  OBRAS<% end %></li>
	<li style="width: 20.5%; padding-top: 14px;"><%= link_to "#", :style => "padding-left: 10%;" do %>COLABORADORES<% end %></li>
	<li style="width: 12.5%; padding-top: 14px;"><%= link_to "#", :style => "padding-left: 14%;" do %>PRENSA<% end %></li>
	<li class="dropdown-tvp" style="width: 9.3%;"><div style="padding-left: 17%; padding-top: 14px;">EXTRAS</div>
		<ul class="dropdown-menu-tvp" style="max-width: 100%; min-width: 100%;">
			<li><div class="dropdown-item-tvp">Links</div></li>
			<li><div class="dropdown-item-tvp">Descargas</div></li>
			<li><div class="dropdown-item-tvp">Noticias</div></li>
			<li><div class="dropdown-item-tvp">Contacto</div></li>
		</ul>
	</li>

</ul>