<div id="menu-admin">
	<ul id="menu-admin-content">

		<!-- OBRAS -->
		<li class="dropdown-admin"><div class="dropdown-admin-txt">OBRAS<i style="float: right; margin-right: 10px; margin-top: 5px;" class="fa fa-angle-right fa-3"></i></div>
			<ul class="dropdown-menu-admin" style="left: 189px; top: 40px;">
				<li class="dropdown-item-admin"><div><i class="fa fa-plus"></i> Agregar una nueva obra</div></li>
				<li class="dropdown-item-admin"><div><i class="fa fa-list"></i> Obras cargadas</div></li>
				<li class="dropdown-item-admin"><div><i class="fa fa-th"></i>  Rodillo de Obras</div></li>
			</ul>
		</li>

		<li class="dropdown-admin"><div class="dropdown-admin-txt">COLABORADORES</div></li>

		<li class="dropdown-admin"><div class="dropdown-admin-txt">NOSOTROS</div></li>

		<li class="dropdown-admin"><div class="dropdown-admin-txt">PRENSA</div></li>

		<li class="dropdown-admin"><div class="dropdown-admin-txt">EXTRAS</div></li>

		<li class="dropdown-admin"><div class="dropdown-admin-txt">HOME</div></li>

		<li class="dropdown-admin"><div class="dropdown-admin-txt">PERFIL ADMIN</div></li>

	</ul>
</div>

<script type="text/javascript"></script>