<div id="wrapper-tvp">
	<%= image_tag "proximamente.png", :style => "width: 60%; margin-left: 18%; margin-top: 85px;" %>
</div>

<script type="text/javascript">
	
	$(function() {
		$("html").css("background", "#FFFFFF");
		$("body").css("background", "#FFFFFF");
	});

</script>