<table border="0" cellpadding="1" cellspacing="1" style="height:501px; width:780px">
	<tbody>
		<tr>
			<td>
			<div style="text-align: justify;"><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif"><img alt="" src="news/N2.1.jpg" style="float:left; height:620px; margin-left:10px; margin-right:10px; width:129px" /><strong>QU&Eacute;</strong></span></span></span></div>

			<div style="text-align: justify;"><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif"><strong>EL ABIERTO MEXICANO DE DISE&Ntilde;O</strong></span></span></span></div>

			<div style="text-align: justify;"><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">Es un festival internacional en la </span></span></span></div>

			<div style="text-align: justify;"><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">Ciudad de M&eacute;xico dedicado a celebrar</span></span></span></div>

			<div style="text-align: justify;"><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">todos los aspectos del dise&ntilde;o y a</span></span></span></div>

			<div style="text-align: justify;"><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">acercarlo a la sociedad.</span></span></span></div>

			<div style="text-align: justify;"><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">Consiste en una multiplicidad y varie-</span></span></span></div>

			<div style="text-align: justify;"><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">dad de eventos concentrados en una</span></span></span></div>

			<div style="text-align: justify;"><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">semana en la ciudad, con el Centro</span></span></span></div>

			<div style="text-align: justify;"><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">Hist&oacute;rico como epicentro.</span></span></span></div>

			<div style="text-align: justify;">&nbsp;</div>

			<div style="text-align: justify;"><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">El Abierto permitir&aacute; a dise&ntilde;adores,</span></span></span></div>

			<div style="text-align: justify;"><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">empresas, organizaciones, embajadas</span></span></span></div>

			<div style="text-align: justify;"><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">y universidades concentrar esfuerzos y</span></span></span></div>

			<div style="text-align: justify;"><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">presentar de manera conjunta la</span></span></span></div>

			<div style="text-align: justify;"><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">producci&oacute;n reciente de las diciplinas</span></span></span></div>

			<div style="text-align: justify;"><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">creativas en un ambiente festivo de</span></span></span></div>

			<div style="text-align: justify;"><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">colabolaci&oacute;n.</span></span></span></div>

			<div style="text-align: justify;">&nbsp;</div>

			<div style="text-align: justify;">&nbsp;</div>

			<div style="text-align: justify;"><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">Convoca a todos los interesados en dise&ntilde;o a</span></span></span></div>

			<div style="text-align: justify;"><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">sumarse como participantes</span></span></span></div>

			<div style="text-align: justify;"><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">y promotores, y al p&uacute;blico en general a disfrutar </span></span></span></div>

			<div style="text-align: justify;"><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">de la fiesta anual del</span></span></span></div>

			<div style="text-align: justify;"><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">dise&ntilde;o en M&eacute;xico.</span></span></span></div>

			<div style="text-align: justify;">&nbsp;</div>

			<div style="text-align: justify;"><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">Del 23 al 27 de octubre de 2013 el Abierto</span></span></span></div>

			<div style="text-align: justify;"><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">Mexicano de Dise&ntilde;o arranca</span></span></span></div>

			<div style="text-align: justify;"><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">en su primera edici&oacute;n con una tem&aacute;tica </span></span></span></div>

			<div style="text-align: justify;"><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">particular: Los oficios.</span></span></span></div>

			<div style="text-align: justify;">&nbsp;</div>

			<div style="text-align: justify;"><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">El programa incluye exhibiciones culturales y comerciantes, instalaciones,</span></span></span></div>

			<div style="text-align: justify;"><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">conferencias, presentaciones, proyecciones, talleres, acciones, fiestas, </span></span></span></div>

			<div style="text-align: justify;"><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">visitas, recorridos peatonales y ciclistas, y eventos al aire libre.</span></span></span></div>

			<div style="text-align: justify;">&nbsp;</div>

			<div style="text-align: justify;"><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">El Abierto y sus consejeros crear&aacute;n una serie de eventos, pero el amplio </span></span></span></div>

			<div style="text-align: justify;"><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">espectro de eventos s&oacute;lo ser&aacute; posible con la participaci&oacute;n de todos. La </span></span></span></div>

			<div style="text-align: justify;"><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">convocatoria est&aacute; abierta a todos para sumar.</span></span></span></div>
			</td>
			<td>
			<div style="text-align: justify;">
			<div>&nbsp;</div>

			<div><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif"><strong>C&Oacute;MO</strong></span></span></span></div>

			<div><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif"><strong>TEMA: LOS OFICIOS</strong></span></span></span></div>

			<div><img alt="" src="news/N2.2.png" style="float:left; height:416px; width:102px" /></div>

			<div><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">Consideramos que una particularidad del dise&ntilde;o en M&eacute;xico es</span></span></span></div>

			<div><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">la manera en que opera. Los dise&ntilde;adores son productores,</span></span></span></div>

			<div><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">promotores, empresariosque trabajan con las posibilidades </span></span></span></div>

			<div><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">tecnol&oacute;gicas pero tambi&eacute;n con t&eacute;cnicas yprocesps tradicionales,</span></span></span></div>

			<div><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">con oficios y artesanos. Esto hace &uacute;nico a lo </span></span></span></div>

			<div><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">prodicido en el pa&iacute;s y le aporta una reiqueza que qeuremos hacer </span></span></span></div>

			<div><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">visible en el contexto global.</span></span></span></div>

			<div>&nbsp;</div>

			<div><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">Colaboraci&oacute;n creativa, interacci&oacute;n comunitaria y elecciones</span></span></span></div>

			<div><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">razonadas est&aacute;n reemplazando la era de lo individual. </span></span></span></div>

			<div><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">Los oficios se convierten en el aliado estr&aacute;tegico para potenciar el dise&ntilde;o.</span></span></span></div>

			<div>&nbsp;</div>

			<div><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">Creemos que al involucrar oficios locales con dise&ntilde;adores se podr&aacute;n</span></span></span></div>

			<div><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">generar prodictos manufacturados reaponsable y sustenatablemente.</span></span></span></div>

			<div><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">Adem&aacute;s de reavivar el inter&eacute;s por la producci&oacute;n tradicional se generan</span></span></span></div>

			<div><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">oportunidades econ&oacute;micas para comunidades que enfrentan retos.</span></span></span></div>

			<div>&nbsp;</div>

			<div><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">En el sentido est&eacute;tico, estos productos y soluciones dan riqueza visual</span></span></span></div>

			<div><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">y conceptual volvi&eacute;ndose m&aacute;s significativos para el usuario.</span></span></span><br />
			&nbsp;</div>

			<div><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif"><strong>D&Oacute;NDE</strong></span></span></span></div>

			<div><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif"><strong>CENTRO HIST&Oacute;RICO</strong></span></span></span></div>

			<div><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">El Centro Hist&oacute;rico ser&aacute; el epicentro del Abierto. Su cualidad como espacio</span></span></span></div>

			<div><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">democr&aacute;tico y simb&oacute;lico de la construcci&oacute;n de M&eacute;xico, su importante infraes-</span></span></span></div>

			<div><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">tructura y valor cultural (1,436 edificios con valos monumental), y sus 2 millo-</span></span></span></div>

			<div><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">nes de usuarios diarios, lo convierten en la sede natural del Abierto.</span></span></span></div>

			<div><span style="font-size:8px"><span style="color:#FFF"><span style="font-family:tahoma,geneva,sans-serif">Laic&oacute;nica Torre Lationoamericana en la calle de Madero, recorrida por 250 mi</span></span></span></div>
			</div>
			</td>
		</tr>
	</tbody>
</table>

<div>&nbsp;</div>
