<div id="grid-edit-images-container" style="float: left;" >

	<!-- GRID -->
	<div id="grid-edit-images-content">

		<div id="work-minima-edit-images-display" url-dialog="<%= edit_display_path(work) %>?id_div=work-minima-edit-images-display">
			<div style="width 600px; height: 400px;"><%= image_tag "elegir-display.png", :style => "width: 100%; height: 100%;" %></div>
		</div>
		<div id="work-minima-edit-images-info"></div>
		<div id="work-minima-edit-images-galeria"></div>

	</div>

	<!-- DIALOG WINDOW -->
	<div id="work-edit-images-dialog" title="" style="display: none; z-index: 3;"></div>

</div>

<%= link_to work_path(work.id) do %>
	<div class="pure-button pure-button-primary" style="float: right; font-family: latha, latha_ie; font-size: 1em; margin-top: 49%; margin-right: 11%;">
		IR A OBRA
	</div>
	<br>
<% end %>

<script type="text/javascript">

	$(function() {

		function loadDialog(title, div) {
			$.ajax({
				type: "GET",
				url: $(div).attr("url-dialog"),
				dataType: "html",
				success: function(data) {
					// Vacia el contenido de la ventana de dialogo
					$("#work-edit-images-dialog").empty();

					// Le cambiamos el titulo
					$("#work-edit-images-dialog").dialog("option", "title", title);

					// Se le agrega el contenido
					$("#work-edit-images-dialog").append(data);

					$("#work-edit-images-dialog").dialog("open");
				}
			});
		}

		// Se inicia el dialog
		$("#work-edit-images-dialog").dialog({
			width: 1000,
			
			autoOpen: false,
			
			show: "scale",
			hide: "scale",

			dialogClass: "no-close",

			modal: "true"
		});

		// Click en display
		$("#work-minima-edit-images-display").click(function() {
			loadDialog("Seleccione la imagen de display", this)
		});
		
	});

</script>