// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// EMPIEZA CSS BANNER ADMIN
#banner-admin {
	width: 100%;
	height: 40px;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;

	background-color: #D8D8D8;
}

#title-banner {
	display: inline-block;

	font-family: felixti, felixti_ie;
	font-size: 1.1em;
}

#logo-banner {
	margin-top: 0.15%;
	margin-left: 12%;
}

#logout-banner {
	width: 8%;
	height: 40px;

	position: relative;
	float: right;
	margin-right: 1%;

	display: block;

	background-color: #000000;
	color: #FFFFFF;
	font-family: euphemia, euphemia_ie;
	font-size: 1em;
}
// TERMINA CSS BANNER ADMIN

// EMPIEZA CSS GENERAL ADMIN
#wrapper-admin, #menu-admin {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

#wrapper-admin {
	width: 100%;
}

#content-admin {
	width: 87.4%;

	margin-top: 40px;
	margin-left: 13%;
}
// TERMINA CSS GENERAL ADMIN


// EMPIEZA CSS MENU ADMIN
#menu-admin {
	width: 14%;

	position: fixed;
	top: 40px;
	left: 0;
	bottom: 0;
	z-index: 2;

	background: #191818;
}

#menu-admin-content {
	width: 100%;

	margin: 0;
	padding: 0;

	list-style: none;
	display: inline-table;
}

.dropdown-admin {
	width: 100%;
	height: 45px;

	position: relative;
	float: left;

	color: #D3D3D3;
	font-family: latha, latha_ie;
	font-size: 1.05em;
}

.dropdown-admin:hover {
	background: #242529;
}

.dropdown-admin-txt {
	margin-top: 10px;
	margin-left: 10px;
}

.dropdown-menu-admin {
	width: 15%;

	position: fixed;

	padding: 0;
	display: none;

	background: rgb(41, 43, 47);

	font-family: euphemia, euphemia_ie;
	font-size: 0.75em;
	color: #FFFFFF;
}

#menu-admin-content > li.dropdown-admin:hover > .dropdown-menu-admin {
	display: block;
}

.dropdown-item-admin {
	max-width: 100%;
	height: 25px;

	position: relative;
	overflow: hidden;

	padding-left: 10px;
	padding-top: 3px;

	cursor: pointer;
}

.dropdown-item-admin:hover {
	background: rgb(189, 190, 191);
	opacity: 0.85;
	filter: alpha(opacity=85);

	color: #000000;
}

// TERMINA CSS MENU ADMIN


// EMPIEZA CSS WORKS

#admin-folders-options {
	width: 100%;
	height: 235px;
	margin-left: 2.5%;
	margin-top: 5px;
	padding: 5px;
	overflow-y: scroll;
	background: #5F5F5F;
	border: 1px solid #000;
	border-right: 1px solid #353535;
	border-bottom: 1px solid #353535;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.list-container {
	width: 36%;
	height: 570px;
	float: left;	
}

.admin-list {
	list-style: none;
	height: 480px;

	overflow-y: scroll;
	overflow-x: hidden;

	margin-top: 5px;
}

.admin-list li {
	width: 100%;
}

#admin-works-selection {
	float: left;
}

#admin-works-selection-display {
	width: 600px;
	height: 400px;

	margin-left: 9%;
	margin-top: 13px;

	background: #000000;
}

#admin-works-selection-title {
	margin-top: 10px;
	margin-left: 28%;

	color: #000000;
	font-family: felixti, felixti_ie;
	font-size: 1.1em;
}

#admin-works-selection-buttons {
	width: 90%;

	margin-left: 5.5%;

	font-family: latha, latha_ie;
	font-size: 0.89em;
}

// TERMINA CSS WORKS

// EMPIEZA CSS WORK GRIDS

#edit-work-and-image {
	width: 96.5%;
	height: 450px;
	float: left;
	margin-left: 1.5%;	
}

#admin-works-grid-options {
	width: 90%;
	height: 450px;
	
	overflow-y: scroll;
	margin-left: 3%;
	margin-top: 15px;

	background: #5F5F5F;
	border: 1px solid #000;
	border-right: 1px solid #353535;
	border-bottom: 1px solid #353535;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.admin-works-grid-option {
	width: 90%;
	height: 90px;

	position: relative;
	margin-top: 8px;
	margin-left: 5%;
	float: left;

	cursor: pointer;
}

.admin-works-grid-option:hover, .admin-works-grid-option-selected {
	border: 1px solid #4195fc;

	-webkit-box-shadow: 0px 0px 4px #4195fc;
	-moz-box-shadow: 0px 0px 4px #4195fc;
	box-shadow: 0px 0px 4px #4195fc;
}

.admin-works-grid-option > div {
	position: absolute;

	top: 9px;
	left: 42%;

	color: #ffffff;
	font-family: latha, latha_ie;
	font-size: 3em;
}

#admin-grid-works-list-container {
	width: 35%;

	float: left;

	margin-left: 1.3%;
	margin-top: 12px;
}

#admin-grid-works-list {
	width: 95%;
	height: 370px;

	overflow-y: scroll;
	overflow-x: hidden;

	margin-top: 10px;
	margin-left: -30px;

	list-style: none;
}

#admin-grid-image-options-container {
	width: 61%;
	float: left;
	margin-left: 2%;
	margin-top: 12px;
	padding-bottom: 10px;
}

#admin-grid-image-options {
	width: 95%;
	height: 359px;

	padding: 5px;

	margin-top: 11px;
	margin-left: 1.5%;

	overflow-y: scroll;
	overflow-x: hidden;

	background: #5F5F5F;
	border: 1px solid #000;
	border-right: 1px solid #353535;
	border-bottom: 1px solid #353535;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#grid-element-crop {
	width: 96.5%;
	height: 100%;
	float: left;
	margin-left: 1.5%;
}

#grid-element-crop-container {
	width: 100%;
	height: 415px;

	float: left;

	margin-top: 12px;
}

#grid-element-image-container {
	width: 600px;
	height: 400px;

	float: left;

	margin-top: 6px;
	margin-left: 8px;
}

#grid-element-preview-container {
	margin-top: 6px;

	overflow: hidden;

	background: #000000;
}

// TERMINA CSS WORK GRIDS

// EMPIEZA CSS HOME CAROUSELS
#admin-home-carousel-options {
	width: 90%;
	height: 450px;
	
	overflow-y: scroll;
	margin-left: 3%;
	margin-top: 15px;

	background: #5F5F5F;
	border: 1px solid #000;
	border-right: 1px solid #353535;
	border-bottom: 1px solid #353535;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.admin-home-carousel-option {
	width: 90%;
	height: 40px;

	position: relative;
	margin-top: 8px;
	margin-left: 5%;
	float: left;

	background: #000000;

	cursor: pointer;
}

.admin-home-carousel-option:hover, .admin-home-carousel-option-selected {
	border: 1px solid #4195fc;

	-webkit-box-shadow: 0px 0px 4px #4195fc;
	-moz-box-shadow: 0px 0px 4px #4195fc;
	box-shadow: 0px 0px 4px #4195fc;
}

.carousel-elem {
	width: 100px;
	height: 400px;

	position: relative;
	overflow: hidden;
	float: left;

	background: #000000;
}

#carousel-element-crop {
	width: 96.5%;
	height: 100%;
	float: left;
	margin-left: 1.5%;
}

#carousel-element-image-container {
	width: 63%;
	float: left;
	position: relative;

	margin-top: 16px;
	margin-left: 1%;
}

#carousel-element-crop-container {
	width: 100%;
	height: 425px;

	float: left;

	margin-top: 12px;
}

#admin-carousel-image-options-container {
	width: 61%;
	float: left;
	margin-left: 2%;
	margin-top: 12px;
	padding-bottom: 10px;
}

#admin-carousel-image-options {
	width: 95%;
	height: 359px;

	padding: 5px;

	margin-top: 11px;
	margin-left: 1.5%;

	overflow-y: scroll;
	overflow-x: hidden;

	background: #5F5F5F;
	border: 1px solid #000;
	border-right: 1px solid #353535;
	border-bottom: 1px solid #353535;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#carousel-element-preview-container {
	overflow: hidden;
	background: #000000;
}

// TERMINA CSS HOME CAROUSELS

// EMPIEZA CSS ADMIN JQUERY UI

// TABS
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}

.ui-helper-clearfix:before, .ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}

.ui-helper-clearfix:after {
	clear: both;
}

.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}

.ui-widget {
	font-family: Verdana,Arial,sans-serif/*{ffDefault}*/;
	font-size: 1.1em/*{fsDefault}*/;
}

.ui-widget .ui-widget {
	font-size: 1em;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
	font-family: Verdana,Arial,sans-serif/*{ffDefault}*/;
	font-size: 1em;
}

.ui-widget-content {
	
	border: 1px solid #aaaaaa/*{borderColorContent}*/;
	background: #ffffff;
	color: #222222/*{fcContent}*/;

	font-size: 0.89em;
}

.ui-widget-content a {
	color: #222222/*{fcContent}*/;
}

.ui-widget-header {
	border: 1px solid #aaaaaa/*{borderColorHeader}*/;
	background: #cccccc;
	color: #222222/*{fcHeader}*/;
	font-weight: bold;
}

.ui-widget-header a {
	color: #222222/*{fcHeader}*/;
}

.ui-widget-overlay {
	background: #aaaaaa;
	opacity: .3/*{opacityOverlay}*/;
	filter: Alpha(Opacity=30)/*{opacityFilterOverlay}*/;
}

.ui-widget-shadow {
	margin: -8px/*{offsetTopShadow}*/ 0 0 -8px/*{offsetLeftShadow}*/;
	padding: 8px/*{thicknessShadow}*/;
	background: #aaaaaa;
	opacity: .3/*{opacityShadow}*/;
	filter: Alpha(Opacity=30)/*{opacityFilterShadow}*/;
	border-radius: 8px/*{cornerRadiusShadow}*/;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: 1px solid #d3d3d3/*{borderColorDefault}*/;
	background: #e6e6e6;
	font-weight: normal/*{fwDefault}*/;
	color: #555555/*{fcDefault}*/;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
	color: #555555/*{fcDefault}*/;
	text-decoration: none;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	border: 1px solid #999999/*{borderColorHover}*/;
	background: #dadada;
	font-weight: normal/*{fwDefault}*/;
	color: #212121/*{fcHover}*/;
}

.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited {
	color: #212121/*{fcHover}*/;
	text-decoration: none;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	border: 1px solid #aaaaaa/*{borderColorActive}*/;
	background: #ffffff;
	font-weight: normal/*{fwDefault}*/;
	color: #212121/*{fcActive}*/;
}

.ui-state-default-selec {
	background: #065ECE;
	color: #000000;
}

.ui-state-default-selec i {
	color: #000000;
}

// TERMINA CSS ADMIN JQUERY UI