// Place all the styles related to the Colaborators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#form-colaborator-wrapper {
	width: 100%;
}

#form-colaborator {
	position: relative;

	margin-top: 1.5%;
	margin-left: 2.5%;
	
	font-family: latha, latha_ie;
	font-size: 1em;
}

#colaborator-container {
	width: 100%;
	height: 440px;
	margin-top: -5px;

	position: relative;
	float: left;
}

#colaborator-semblance-container {
	width: 45%;
	height: 100%;

	position: relative;
	float: left;
	background: #000;
}

#colaborator-semblance-title {
	width: 100%;
	height: 30px;

	position: relative;
	float: left;
	margin-top: 20px;

	background: #000;
	color: #FFF;
}

#colaborator-semblance-title-content {
	width: 85%;
	height: auto;

	margin-left: 11.1111%;
}

#colaborator-semblance-title-content p {
	margin: 0;
	padding: 0;
}

#colaborator-semblance-title-content span {
	margin: 0;
	padding: 0;
}

#colaborator-semblance-title-content span span {
	margin: 0;
	padding: 0;
}

.colaborator-semblance-text {
	width: 100%;
	height: 340px;

	position: relative;
	float: left;
	margin-top: 0px;

	background: #000;
	color: #FFF;
}

#colaborator-semblance-text-content {
	width: 89.05%;
	height: auto;
	margin-top: 1px;
}

#colaborator-semblance-text-content p {
	margin: 0;
	padding: 0;
}

#colaborator-semblance-text-content span {
	margin: 0;
	padding: 0;
}

#colaborator-semblance-text-content span span {
	margin: 0;
	padding: 0;
}

#colaborator-info-menu-navigator {
	width: 100%;
	height: 50px;

	position: relative;
	float: left;
}

#colaborator-info-menu {
	width: 100%;
	height: 50px;

	position: relative;
	float: left;

	margin: 0;
	margin-left: -11%;

	color: #FFFFFF;
	list-style: none;
	display: inline-table;
}

#colaborator-info-menu:after {
	content: "";
	clear: both;
	display: block;
}

.colaborator-info-menu-item {
	width: 95px;
	height: 14px;

	position: relative;
	float: left;

	font-family: latha, latha_ie;
	font-size: 11px;
	text-align: center;

	margin-top: 18px;

	cursor: pointer;
}

#colaborator-info-menu > li:hover {
	background: #FFFFFF;
	color: #000000;
}

#colaborator-portrait-container {
	width: 55%;
	height: 100%;

	position: relative;
	float: left;
}

.link-next-colab {
	width: 10px;
	height: 20px;

	position: relative;
	float: right;

	margin-top: 15px;
	margin-right: -47%;
	margin-right: 3.3%
}

.link-prev-colab {
	width: 10px;
	height: 20px;
	
	position: relative;
	float: right;

	margin-top: 15px;
	margin-right: 2.7%;
}

.colaborator-link {
	margin-left: 2%;
	float: left;
	text-decoration: none;
	color: #FFFFFF;	
}

.colaborator-link:hover {
	text-decoration: underline;
}

#admin-colaborators-list-container {
	width: 36%;
	height: 570px;
	float: left;
}

#admin-colaborators-list {
	list-style: none;
	height: 480px;

	overflow-y: scroll;
	overflow-x: hidden;

	margin-top: 5px;
}

#admin-colaborators-list li {
	width: 100%;
}


#admin-colaborators-selection {
	width: 60%;
	float: left;
}

#admin-colaborators-selection-display {
	width: 400px;
	height: 400px;

	margin-left: 25%;
	margin-top: 13px;

	background: #000000;
}

#admin-colaborators-selection-title {
	margin-top: 10px;
	margin-left: 15%;

	color: #000000;
	font-family: felixti, felixti_ie;
	font-size: 1.1em;
}

#admin-colaborators-selection-buttons {
	width: 90%;

	margin-left: 21%;

	font-family: latha, latha_ie;
	font-size: 0.89em;
}

.colab-grid-element-0 {
	width: 9.8%;
	height: 25%;

	position: absolute;
	left: 45.1%;
	top: 0%;
	overflow: hidden;

	background-color: #000000;
}

.colab-grid-element-1 {
	width: 9.8%;
	height: 25%;

	position: absolute;
	left: 5.9%;
	top: 25.0%;
	overflow: hidden;
	background-color: #000000;
}

.colab-grid-element-2 {
	width: 9.8%;
	height: 25%;

	position: absolute;
	left: 15.7%;
	top: 25.0%;
	overflow: hidden;
	background-color: #000000;
}

.colab-grid-element-3 {
	width: 9.8%;
	height: 25%;

	position: absolute;
	left: 25.5%;
	top: 25.0%;
	overflow: hidden;
	background-color: #000000;
}

.colab-grid-element-4 {
	width: 9.8%;
	height: 25%;

	position: absolute;
	left: 35.3%;
	top: 25.0%;
	overflow: hidden;
	background-color: #000000;
}

.colab-grid-element-5 {
	width: 9.8%;
	height: 25%;

	position: absolute;
	left: 45.1%;
	top: 25.0%;
	overflow: hidden;
	background-color: #000000;
}

.colab-grid-element-6 {
	width: 9.8%;
	height: 25%;

	position: absolute;
	left: 54.9%;
	top: 25.0%;
	overflow: hidden;
	background-color: #000000;
}

.colab-grid-element-7 {
	width: 9.8%;
	height: 25%;

	position: absolute;
	left: 64.7%;
	top: 25.0%;
	overflow: hidden;
	background-color: #000000;
}

.colab-grid-element-8 {
	width: 9.8%;
	height: 25%;

	position: absolute;
	left: 74.5%;
	top: 25.0%;
	overflow: hidden;
	background-color: #000000;
}

.colab-grid-element-9 {
	width: 9.8%;
	height: 25%;

	position: absolute;
	left: 84.3%;
	top: 25.0%;
	overflow: hidden;
	background-color: #000000;
}

.colab-grid-element-10 {
	width: 9.8%;
	height: 25%;

	position: absolute;
	left: 5.9%;
	top: 50.0%;
	overflow: hidden;
	background-color: #000000;
}

.colab-grid-element-11 {
	width: 9.8%;
	height: 25%;

	position: absolute;
	left: 15.7%;
	top: 50.0%;
	overflow: hidden;
	background-color: #000000;
}

.colab-grid-element-12 {
	width: 9.8%;
	height: 25%;

	position: absolute;
	left: 25.5%;
	top: 50.0%;
	overflow: hidden;
	background-color: #000000;
}

.colab-grid-element-13 {
	width: 9.8%;
	height: 25%;

	position: absolute;
	left: 35.3%;
	top: 50.0%;
	overflow: hidden;
	background-color: #000000;
}

.colab-grid-element-14 {
	width: 9.8%;
	height: 25%;

	position: absolute;
	left: 45.1%;
	top: 50.0%;
	overflow: hidden;
	background-color: #000000;
}

.colab-grid-element-15 {
	width: 9.8%;
	height: 25%;

	position: absolute;
	left: 54.9%;
	top: 50.0%;
	overflow: hidden;
	background-color: #000000;
}

.colab-grid-element-16 {
	width: 9.8%;
	height: 25%;

	position: absolute;
	left: 64.7%;
	top: 50.0%;
	overflow: hidden;
	background-color: #000000;
}

.colab-grid-element-17 {
	width: 9.8%;
	height: 25%;

	position: absolute;
	left: 74.5%;
	top: 50.0%;
	overflow: hidden;
	background-color: #000000;
}

.colab-grid-element-18 {
	width: 9.8%;
	height: 25%;

	position: absolute;
	left: 84.3%;
	top: 50.0%;
	overflow: hidden;
	background-color: #000000;
}

.colab-grid-element-19 {
	width: 9.8%;
	height: 25%;

	position: absolute;
	left: 5.9%;
	top: 75.0%;
	overflow: hidden;
	background-color: #000000;
}

.colab-grid-element-20 {
	width: 9.8%;
	height: 25%;

	position: absolute;
	left: 15.7%;
	top: 75.0%;
	overflow: hidden;
	background-color: #000000;
}

.colab-grid-element-21 {
	width: 9.8%;
	height: 25%;

	position: absolute;
	left: 25.5%;
	top: 75.0%;
	overflow: hidden;
	background-color: #000000;
}

.colab-grid-element-22 {
	width: 9.8%;
	height: 25%;

	position: absolute;
	left: 35.3%;
	top: 75.0%;
	overflow: hidden;
	background-color: #000000;
}

.colab-grid-element-23 {
	width: 9.8%;
	height: 25%;

	position: absolute;
	left: 45.1%;
	top: 75.0%;
	overflow: hidden;
	background-color: #000000;
}

.colab-grid-element-24 {
	width: 9.8%;
	height: 25%;

	position: absolute;
	left: 54.9%;
	top: 75.0%;
	overflow: hidden;
	background-color: #000000;
}

.colab-grid-element-25 {
	width: 9.8%;
	height: 25%;

	position: absolute;
	left: 64.7%;
	top: 75.0%;
	overflow: hidden;
	background-color: #000000;
}

.colab-grid-element-26 {
	width: 9.8%;
	height: 25%;

	position: absolute;
	left: 74.5%;
	top: 75.0%;
	overflow: hidden;
	background-color: #000000;
}

.colab-grid-element-27 {
	width: 9.8%;
	height: 25%;

	position: absolute;
	left: 84.3%;
	top: 75.0%;
	overflow: hidden;
	background-color: #000000;
}

.colab-grid-element-extra1-1 {
	width: 5.9%;
	height: 25%;

	position: absolute;
	left: 0%;
	top: 25.0%;
	overflow: hidden;
	background-color: #000000;
}

.colab-grid-element-extra1-10 {
	width: 5.9%;
	height: 25%;

	position: absolute;
	left: 0%;
	top: 50.0%;
	overflow: hidden;
	background-color: #000000;
}

.colab-grid-element-extra1-19 {
	width: 5.9%;
	height: 25%;

	position: absolute;
	left: 0%;
	top: 75.0%;
	overflow: hidden;
	background-color: #000000;
}

.colab-grid-element-extra2-9 {
	width: 5.9%;
	height: 25%;

	position: absolute;
	left: 94.1%;
	top: 25.0%;
	overflow: hidden;
	background-color: #000000;
}

.colab-grid-element-extra2-18 {
	width: 5.9%;
	height: 25%;

	position: absolute;
	left: 94.1%;
	top: 50.0%;
	overflow: hidden;
	background-color: #000000;
}

.colab-grid-element-extra2-27 {
	width: 5.9%;
	height: 25%;

	position: absolute;
	left: 94.1%;
	top: 75.0%;
	overflow: hidden;
	background-color: #000000;
}

#insert-colab-container {
	width: 97%;
	height: 340px;

	margin-left: 1.5%;
	margin-top: 25px;
}

#admin-grid-colaborators-options {
	width: 95%;
	height: 300px;

	padding: 5px;

	margin-top: 11px;
	margin-left: 1.8%;

	overflow-y: scroll;
	overflow-x: hidden;

	background: #5F5F5F;
	border: 1px solid #000;
	border-right: 1px solid #353535;
	border-bottom: 1px solid #353535;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.colaborator-option {
	width: 98px;
	height: 133px;

	position: relative;

	display: inline-block;
	margin-bottom: 20px;

	cursor: pointer;
}

#insert-image-container {
	width: 97%;
	height: 340px;

	margin-left: 1.5%;
	margin-top: 25px;
}

.colaborator-option:hover {
	border: 1px solid #4195fc;

	-webkit-box-shadow: 0px 0px 4px #4195fc;
	   -moz-box-shadow: 0px 0px 4px #4195fc;
			box-shadow: 0px 0px 4px #4195fc;
}

#colaborators-container {
	width: 100%;
	height: 480px;
	background: #000;

	margin-top: -44px;
}

#colaborators-csi-conatiner {
	width: 100%;
	height: 162px;
}

.colaborator-home-grid {
	width: 100%;
	height: 318px;

	position: relative;
}

.colab-sprocket-neg {
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.colab-sprocket {
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.colab-sprocket:hover {
	padding: 0;
	opacity: 0;
	transition: opacity .25s linear;
	-moz-transition: opacity .25s linear;
	-o-transition: opacity .25s linear;
	-webkit-transition: opacity .25s linear;
	-ms-transition: opacity .25s linear;
}