// Place all the styles related to the Downloads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#downloads-wapper {
	width: 100%;
	height: 550px;

	margin-top: -4px;
}

#downloads-container {
	width: 100%;
	height: 500px;

	position: relative;
	float: left;

	overflow: hidden;

	background: #000000;
}

.download-column {
	width: 202.5%;
	height: 500px;

	float: left;
	position: relative;
}

.download-option {
	width: 100%;
	height: 162.5px;

	position: absolute;
}

.download-option-thumb {
	width: 87.5%;
	height: 137.5px;

	margin-left: 6.25%;

	cursor: pointer;
}

.download-option-thumb img {
	width: 100%;
	height: 100%;
}

.download-option-title {
	width: 100%;
	height: 12.5px;

	color: #FFF;
	font-family: latha, latha_ie;
	font-size: 0.625em;
	margin-top: 0px;

	overflow: hidden;
}

#prev_down {
	width: 2.5%;
	height: 35px;
	margin-top: 8px;
	float: left;
	margin-left: 0.5%;
}

#prev_down:hover {
	cursor: pointer;
}

#next_down {
	width: 2.5%;
	height: 35px;
	float: left;
	margin-left: 93.8%;
	margin-top: 8px;
}

#next_down:hover {
	cursor: pointer;
}
