// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#wrapper-tvp {
	width: 100%;
	height: 100%;
}

#container-tvp {
	width: 1000px;
	margin-left: 13.4%;
	margin-top: 2%;
}

// EMPIEZA CSS BANNER TVP
#banner-tvp {
	width: 100%;
	height: 75px;

	position: relative;
}

#logo-banner-tvp {
	width: 25%;
	float: left;
}

#languages {
	float: right;

	margin-top: 58px;

	color: #438bc5;
	font-family: euphemia, euphemia_ie;
	font-size: 0.8125em;
}

#languages a {
	color: #438bc5;
	text-decoration: none;
}

#languages a:hover {
	color: #438bc5;
	text-decoration: underline;
}

// TEMINA CSS BANNER TVP

// COMIENZA CSS LEGALS TVP

#legals-tvp {
	width: 50%;

	float: right;
	margin-top: 13px;
}

// TERMINA CSS LEGALS TVP

// EMPIEZA CSS MENU TVP
#menu-tvp {
	width: 100%;
	height: 50px;

	position: relative;

	margin: 0;
	padding: 0;

	background-color: #000000;
	color: #FFFFFF;
	list-style: none;
	display: inline-table;
}

#menu-tvp > li {
	position: relative;
	float: left;

	font-family: latha, latha_ie;
	font-size: 1.0625em;
}

#menu-tvp > li a {
	text-decoration: none;
	color: #FFFFFF;
}

#menu-tvp > li.dropdown-tvp:hover {
	background: #242529;
}

#menu-tvp > li.dropdown-tvp > .dropdown-menu-tvp {
	display: none;
}

#menu-tvp > li.dropdown-tvp:hover > .dropdown-menu-tvp {
	display: block;
}

#menu-tvp li > ul.dropdown-menu-tvp {
	position: absolute;

	padding: 0;
	margin-top: -6px;
	border-radius: 0px;

	background: rgb(41, 43, 47);
	opacity: 0.85;

	font-family: euphemia, euphemia_ie;
	font-size: 0.68em;

	list-style: none;
}

.dropdown-item-tvp {
	max-width: 100%;
	height: 25px;

	position: relative;
	overflow: hidden;

	padding-left: 10px;
	padding-top: 3px;

	cursor: pointer;
}

.dropdown-item-tvp:hover {
	background: rgb(189, 190, 191);
	opacity: 0.85;
	filter: alpha(opacity=75);

	color: #000000;
}

// TERMINA CSS MENU TVP

// EMPIEZA CSS CARUSEL

#carousel-wrapper {
	width: 100%;
	height: 400px;
}

/* HORIZONTAL */
#carousel-horizontal {
	width: 40%;
	height: 400px;

	margin-top: 25px;

}

#carousel-horizontal div {
	position: relative;
	float: left;
}

/* VERTICAL */
#carousel-vertical {
	width: 60%;
	height: 400px;

	margin-top: -40%;
	float: right;

}

#carousel-vertical div {
	position: relative;
	float: left;
}

// TERMINA CSS CARUSEL

// EMPIEZA CSS NOTICIAS

.home-news {
	float: left;
	position: relative;
	height: 100%;
	background: #FFF;
}

.news-link {
	width: 112px;
	height: 25px;

	position: absolute;
	top: 113px;

	background-color: #1A171B;
	opacity: 0.8;
	color: #FFFFFF;
	
	font-family: euphemia, euphemia_ie;
	font-size: 12px;
	
	text-align: justify;
	cursor: pointer;

	overflow: hidden;
}

// TERMINA CSS NOTICIAS

// EMPIEZA CSS WEBINFO

#we-are-container {
	width: 100%;
	height: 550px;

	position: relative;

	margin-top: -5px;
}


#we-are-image {
	width: 100%;
	height: 100%;

	float: left;
}

#we-are-body {
	width: 100%;

	float: left;

	margin-top: -550px;
}

#we-do-container {
	width: 100%;
	height: 550px;

	position: relative;

	margin-top: -5px;
}

#we-do-image {
	width: 100%;
	height: 100%;

	float: left;
}

#we-do-body {
	width: 100%;

	float: left;

	margin-top: -550px;
}

#list-projects-container {
	width: 100%;
	height: 550px;

	position: relative;

	margin-top: -5px;
}

#list-projects-image {
	width: 100%;
	height: 100%;

	float: left;
}

#list-projects-body {
	width: 100%;

	float: left;

	margin-top: -550px;
}

#links-container {
	width: 100%;
	height: 550px;

	position: relative;

	margin-top: -4px;
}

#links-image {
	width: 100%;
	height: 496px;

	float: left;
}

#links-body {
	width: 92%;

	float: left;

	margin-top: -440px;
	margin-left: 56px;
}

#links-body-txt {
	width: 100%;
	height: 362px;
}

/******CONTACTO******/

#contact-container {
	width: 100%;
	height: 550px;

	position: relative;

	margin-top: -4px;

	background: #000;
}

#contact-content {
	width: 100%;
	height: 496px;

	position: relative;
	float: left;
}

.column-contact {
	width: 24.9%;
	height: 496px;

	position: relative;
	float: left;
}

#form-contact-parent {
	width: 49.8%;
	height: 496px;

	position: relative;
	float: left;
}

#form-contact-container {
	width: 89.96%;
	height: 430px;

	position: relative;
	float: left;
	margin-left: 5.02%;
	margin-top: 25px;
}

.contact-xtr-img {
	width: 100%;
	height: 122px;

	position: relative;
	float: left;
}

.contact-xtr-img img {
	width: 100%;
	height: 100%;
}

.contact-img {
	width: 100%;
	height: 123px;

	position: relative;
	float: left;
}

.contact-img img {
	width: 100%;
	height: 100%;
}

#form-contact {
	width: 100%;

	font-family: euphemia, euphemia_ie;
	font-size: 0.89em;
	color: #FFF;
}

#retro-contact {
	font-size: 0.9em;
	display: none;
}

#form-contact label {
	width: 100%;
	position: relative;
	float: left;
	margin-top: 10px;
}

#form-contact input[type="text"], #form-contact input[type="email"] {
	width: 100%;
	position: relative;
	float: left;
	margin-top: -2px;
	border: 0px solid #000;
}

#form-contact textarea {
	width: 100%;
	height: 200px;
	
	resize: none;

	position: relative;
	float: left;
	margin-top: -2px;
	border: 0px solid #000;
}

#form-contact input[type="submit"] {
	border: 0px solid #000;
	background: #282E35;
	color: #ABA8AB;

	float: right;
	position: relative;
}

#form-contact input[type="submit"]:focus {
	outline: none;
}

#form-contact input[type="submit"]:hover {
	cursor: pointer;
	color: #282E35;
	background: #ABA8AB;
}

// TERMINA CSS WEBINFO