// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#wrapper-tvp {
	width: 100%;
	height: 100%;
}

#container-tvp {
	width: 1000px;
	margin-left: 13.4%;
	margin-top: 2%;
}

// EMPIEZA CSS BANNER TVP
#banner-tvp {
	width: 100%;
	height: 75px;

	position: relative;
}

#logo-banner-tvp {
	width: 25%;
	float: left;
}

#languages {
	float: right;

	margin-top: 58px;

	color: #438bc5;
	font-family: euphemia, euphemia_ie;
	font-size: 0.8125em;
}

#languages a {
	color: #438bc5;
	text-decoration: none;
}

#languages a:hover {
	color: #438bc5;
	text-decoration: underline;
}

// TEMINA CSS BANNER TVP

// COMIENZA CSS LEGALS TVP

#legals-tvp {
	width: 50%;

	float: right;
	margin-top: 13px;
}

// TERMINA CSS LEGALS TVP

// EMPIEZA CSS MENU TVP
#menu-tvp {
	width: 100%;
	height: 50px;

	position: relative;

	margin: 0;
	padding: 0;

	background-color: #000000;
	color: #FFFFFF;
	list-style: none;
	display: inline-table;
}

#menu-tvp > li {
	position: relative;
	float: left;

	font-family: latha, latha_ie;
	font-size: 1.0625em;
}

#menu-tvp > li a {
	text-decoration: none;
	color: #FFFFFF;
}

#menu-tvp > li.dropdown-tvp:hover {
	background: #242529;
}

#menu-tvp > li.dropdown-tvp > .dropdown-menu-tvp {
	display: none;
}

#menu-tvp > li.dropdown-tvp:hover > .dropdown-menu-tvp {
	display: block;
}

#menu-tvp li > ul.dropdown-menu-tvp {
	position: absolute;

	padding: 0;
	margin: 0;
	border-radius: 0px;

	background: rgb(41, 43, 47);
	opacity: 0.85;

	font-family: euphemia, euphemia_ie;
	font-size: 0.68em;

	list-style: none;
}

.dropdown-item-tvp {
	max-width: 100%;
	height: 25px;

	position: relative;
	overflow: hidden;

	padding-left: 10px;
	padding-top: 3px;

	cursor: pointer;
}

.dropdown-item-tvp:hover {
	background: rgb(189, 190, 191);
	opacity: 0.85;
	filter: alpha(opacity=75);

	color: #000000;
}

// TERMINA CSS MENU TVP