// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#news-container {
	width: 100%;
	height: 400px;

	margin-top: -4px;
}

#list-news-container {
	width: 24.9%;
	height: 400px;

	float: left;

	position: relative;
}

#carousel-news {
	width: 100%;
	height: 100%;
}

#prev-carousel-news, #next-carousel-news {
	cursor: pointer;
}

.carousel-news-elem {
	width: 100%;
	height: 98px;

	float: left;

	margin-bottom: 1px;
	margin-top: 1px;
}

#news-text-container {
	width: 72.6%;
	height: 380px;

	float: left;
	
	margin-left: 1.25%;
	margin-top: 10px;
}

.image_new {
	width: 100%;
	height: auto;
}
