// Place all the styles related to the works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// EMPIEZA CSS FORMULARIO NEW WORK
	#form-work-wrapper {
		width: 100%;
	}

	#form-work {
		position: relative;

		margin-top: 1.5%;
		margin-left: 2.5%;
		
		font-family: latha, latha_ie;
		font-size: 1em;
	}

// TERMINA CSS FORMULARIO NEW WORK

// COMIENZA CSS EDIT IMAGES FULL

	#grid-edit-images-container {
		margin-left: 5%;
		margin-top: 1%;
	}

	#grid-edit-images-content {
		position: relative;
	}

	#work-full-edit-images-display {
		width: 600px;
		height: 400px;

		position: absolute;
		top: 0;
		left: 0;

		cursor: pointer;
	}

	#work-full-edit-images-info {
		width: 400px;
		height: 400px;

		position: absolute;
		top: 0;
		left: 600px;

		background-color: #000000;
	}

	#work-full-edit-images-galeria {
		width: 249px;
		height: 150px;

		position: absolute;
		top: 400px;
		left: 0px;

		cursor: pointer;
	}

	#work-full-edit-images-video, #work-full-edit-images-sustitutovideo {
		width: 248px;
		height: 150px;

		position: absolute;
		top: 400px;
		left: 251px;

		cursor: pointer;
	}

	#work-full-edit-images-detrasde {
		width: 248px;
		height: 150px;

		position: absolute;
		top: 400px;
		left: 501px;

		cursor: pointer;
	}

	#work-full-edit-images-otros {
		width: 249px;
		height: 150px;

		position: absolute;
		top: 400px;
		left: 751px;

		cursor: pointer;
	}

	#work-full-edit-images-display:hover,
	#work-full-edit-images-galeria:hover,
	#work-full-edit-images-video:hover,
	#work-full-edit-images-sustitutovideo:hover,
	#work-full-edit-images-detrasde:hover,
	#work-full-edit-images-otros:hover {
		opacity:0.9;
		filter:alpha(opacity=90);
	}

	.no-close .ui-dialog-titlebar-close {
		display: none;
	}

// TERMINA CSS EDIT IMAGES FULL

// COMIENZA CSS EDIT IMAGES MEDIANA

	#work-mediana-edit-images-display {
		width: 600px;
		height: 400px;

		position: absolute;
		top: 0;
		left: 0;

		cursor: pointer;
	}

	#work-mediana-edit-images-info {
		width: 400px;
		height: 550px;

		position: absolute;
		top: 0;
		left: 600px;

		background-color: #000000;
	}

	#work-mediana-edit-images-galeria {
		width: 299px;
		height: 150px;

		position: absolute;
		top: 400px;
		left: 0px;

		cursor: pointer;
	}

	#work-mediana-edit-images-otros {
		width: 299px;
		height: 150px;

		position: absolute;
		top: 400px;
		left: 301px;

		cursor: pointer;
	}

	#work-mediana-edit-images-display:hover,
	#work-mediana-edit-images-galeria:hover,
	#work-mediana-edit-images-otros:hover {
		opacity:0.9;
		filter:alpha(opacity=90);
	}

// TERMINA CSS EDIT IMAGES MEDIANA

// COMIENZA CSS EDIT IMAGES MINIMA

	#work-minima-edit-images-display {
		width: 600px;
		height: 475px;

		position: absolute;
		top: 0;
		left: 0;
		padding-top: 75px;

		cursor: pointer;
		background: #000000;
	}

	#work-minima-edit-images-info {
		width: 400px;
		height: 475px;

		position: absolute;
		top: 0;
		left: 600px;

		background-color: #000000;
	}

	#work-minima-edit-images-galeria {
		width: 1000px;
		height: 75px;

		position: absolute;
		top: 475px;
		left: 0px;

		background-color: #000000;
	}

	#work-minima-edit-images-display:hover {
		opacity:0.9;
		filter:alpha(opacity=90);
	}

// TERMINA CSS EDIT IMAGES MINIMA

// COMIENZA CSS EDIT IMAGES MINIMA

	#work-minima-minima-edit-images-display {
		width: 600px;
		height: 550px;

		position: absolute;
		top: 0;
		left: 0;

		cursor: pointer;
		background: #000000;
	}

	#work-minima-minima-edit-images-info {
		width: 400px;
		height: 550px;

		position: absolute;
		top: 0;
		left: 600px;

		background-color: #000000;
	}

	#work-minima-minima-edit-images-display:hover {
		opacity:0.9;
		filter:alpha(opacity=90);
	}

// TERMINA CSS EDIT IMAGES MINIMA

// COMIENZA CSS EDIT DISPLAY

#display-options {
	width: 92%;
	height: 420px;

	margin-left: 3.5%;
	padding: 5px;

	overflow-y: scroll;

	background: #5F5F5F;
	border: 1px solid #000;
	border-right: 1px solid #353535;
	border-bottom: 1px solid #353535;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.img-display-option {
	width: 124px;
	height: 75px;

	position: relative;

	display: inline-block;
	margin-bottom: 20px;
}

.radio-button-display-option {
	position: absolute;
}

// TERMINA CSS EDIT DISPLAY

#folder-options-container {
	width: 98%;
	height: 430px;
	margin-top: 10px;
	margin-left: 1%;
}

#folder-options {
	width: 90%;
	height: 355px;

	padding: 5px;
	float: left;
	margin-left: 4.3%;
	margin-top: 15px;

	overflow-y: scroll;

	background: #5F5F5F;
	border: 1px solid #000;
	border-right: 1px solid #353535;
	border-bottom: 1px solid #353535;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.img-delete-option {
	width: 124px;
	height: 75px;

	position: relative;

	display: inline-block;
	margin-bottom: 20px;
	margin-left: 6px;
}

.img-folder-option {
	width: 124px;
	height: 75px;

	position: relative;

	display: inline-block;
	margin-bottom: 20px;

	cursor: pointer;
}

.img-folder-option:hover {
	border: 1px solid #4195fc;

	-webkit-box-shadow: 0px 0px 4px #4195fc;
	   -moz-box-shadow: 0px 0px 4px #4195fc;
			box-shadow: 0px 0px 4px #4195fc;
}

#work-folder-form-crop {
	float: left;
	margin-left: 5%;
}

.radio-button-folder-option {
	position: absolute;
	display: none;
}

#folder-form-preview-container {
	margin-left: 0.6%;
	margin-top: 125px;

	position: relative;
	float: left;
}

// TERMINA CSS EDIT DISPLAY FOLDER

// COMIENZA CSS EDIT VIDEOTHUMB

#work-videothumb-form-crop {
	overflow: hidden;

	float: left;
	margin-left: 4%;
	margin-top: 15px;
}

#videothumb-form-preview-container {
	width: 28%;
	height: 170px;

	margin-left: 5%;
	margin-top: 75px;

	position: relative;
	float: left;
}

// TERMINA CSS EDIT VIDEOTHUMB

// COMIENZA CSS SHOW FULL
#work-container-full {
	position: relative;

	width: 100%;
	min-height: 550px;
	margin-top: -5px;

	background: #000000;
}

#work-display-full {
	width: 60%;
	height: 400px;

	float: left;
}

#work-info-full {
	width: 40%;
	min-height: 400px;

	float: left;

	background: #000000;
}

#work-info-title-full {
	width: 100%;
	height: 74px;

	float: right;
	margin-top: 2.5%;

	background: #000000;
	color: #FFFFFF;
}


#work-info-title-content-full {
	width: 85%;
	height: auto;

	margin-left: 6.5%;
}

#work-info-title-content-full p {
	margin: 0;
	padding: 0;
}

#work-info-title-content-full span {
	margin: 0;
	padding: 0;
}

#work-info-title-content-full span span {
	margin: 0;
	padding: 0;
}

.work-info-text-full {
	background: #000000;
	color: #FFFFFF;
}

#work-info-text-content-full p {
	margin: 0;
	padding: 0;
}

#work-info-text-content-full span {
	margin: 0;
	padding: 0;
}

#work-info-text-content-full span span {
	margin: 0;
	padding: 0;
}

#work-info-menu-navigator {
	width: 100%;
	height: 62px;

	display: block;
	background-color: #000000;
}

#work-info-menu {
	width: 100%;
	height: 62px;
	position: relative;

	margin: 0;
	padding-top: 21px;
	padding-left: 20px;

	color: #FFFFFF;
	list-style: none;
	display: inline-table;
}

#work-info-menu:after {
	content: "";
	clear: both;
	display: block;
}

#work-info-menu > li {
	width: 60px;
	height: 20px;

	position: relative;
	float: left;

	font-family: latha, latha_ie;
	font-size: 11px;
	text-align: center;

	cursor: pointer;
}

#work-info-menu > li div {
	position: relative;

	top: 17%;
}

#work-info-menu > li:hover {
	background: #FFFFFF;
	color: #000000;
}

#work-menu-full {
	width: 100%;
	height: 150px;

	background-color: #FFFFFF;
}

.work-menu-full-item-left {
	width: 25%;

	float: left;
	padding-right: 1px;
}

.work-menu-full-item {
	width: 25%;

	float: left;
	padding-left: 1px;
	padding-right: 1px;
}

.work-menu-full-item-right {
	width: 25%;

	float: left;
	padding-left: 1px;
}

.work-menu-full-link {
	width: 40px;
	height: 13px;

	float: bottom;
	position: relative;
	bottom: 25px;
	left: 193px;

	margin: 0;
	padding: 0;

	background-color: #000000;
	color: #FFFFFF;
	overflow: hidden;

	font-family: euphemia, euphemia_ie;
	font-size: 10px;
	text-align: center;

	cursor: pointer;
}

/* --------------------GALERIA--------------------------- */
#work-display-full-gallery {
	width: 600px;
	height: 400px;
}

.work-gallery-img {
	width: 600px;
	height: 400px;

	position: relative;
}

.work-gallery-img img {
	width: 100%;
	height: 100%;

	display: block;
	float: left;

	background: #000000;
}

div.prev, div.next {
	display: block;
	position: absolute;
	z-index: 2;
	cursor: pointer;
}

div.prev {
	top: 152px;
	width: 25px;
	height: 60px;

	left: 8px;
}

div.next {
	top: 153px;
	width: 25px;
	height: 60px;

	right: 407px;
}

.clearfix {
	float: none;
	clear: both;
}

/* ----------------------------------------------- */

#work-full-sections {
	position: relative;

	width: 100%;
	height: 150px;
	float: left;

	background: #FFFFFF;
}

.work-full-sections-item-left {
	float: left;
}

.work-full-sections-item {
	float: left;
}

.work-full-sections-item-right {
	float: left;
}

.work-full-sections-link {
	position: relative;
	float: right;
	right: 11px;
	bottom: 34px;

	background: #000000;
	color: #FFFFFF;
	overflow: hidden;

	font-family: euphemia, euphemia_ie;
	font-size: 10px;
	text-align: center;

	cursor: pointer;
}

/* ----------------------------------------------- */

// TERMINA CSS SHOW FULL

// EMPIEZA CSS SHOW MEDIANA

#work-container-mediana {
	position: relative;

	width: 100%;
	min-height: 550px;
	margin-top: -5px;

	background: #000000;
}

#work-display-mediana {
	width: 60%;
	height: 400px;

	float: left;
}

#work-info-mediana {
	width: 40%;
	min-height: 550px;

	float: right;
	padding: 0;
	margin-top: -550px;

	background: #000000;
}

#work-info-title-mediana {
	width: 100%;
	height: 74px;

	float: right;
	margin-top: 2.5%;

	background: #000000;
	color: #FFFFFF;
}

#work-info-title-content-mediana {
	width: 85%;
	height: auto;

	margin-left: 6.5%;
}

#work-info-title-content-mediana p {
	margin: 0;
	padding: 0;
}

#work-info-title-content-mediana span {
	margin: 0;
	padding: 0;
}

#work-info-title-content-mediana span span {
	margin: 0;
	padding: 0;
}

.work-info-text-mediana {
	background: #000000;
	color: #FFFFFF;
}

#work-info-text-content-mediana p {
	margin: 0;
	padding: 0;
}

#work-info-text-content-mediana span {
	margin: 0;
	padding: 0;
}

#work-info-text-content-mediana span span {
	margin: 0;
	padding: 0;
}

/* ----------------------------------------------- */

#work-mediana-sections {
	width: 60%;
	height: 150px;
	padding-top: 400px;

	background: #FFFFFF;
}

.work-mediana-sections-item-left {
	width: 49.83%;
	height: 150px;

	float: left;
	margin-right: 1px;
}

.work-mediana-sections-item-right {
	width: 49.83%;
	height: 150px;

	float: left;
	margin-left: 1px;
}

.work-mediana-sections-link {
	position: relative;
	float: right;
	
	right: 25px;
	bottom: 34px;

	margin: 0;

	background: #000000;
	color: #FFFFFF;
	overflow: hidden;

	font-family: euphemia, euphemia_ie;
	font-size: 10px;
	text-align: center;

	cursor: pointer;
}


/* ----------------------------------------------- */

// TERMINA CSS SHOW MEDIANA

// EMPIEZA CSS SHOW MINIMA

#work-container-minima {
	position: relative;

	width: 100%;
	min-height: 550px;
	margin-top: -5px;

	background: #000000;
}

#work-display-minima {
	width: 60%;
	max-height: 475px;
	min-height: 475px;

	position: relative;
	float: left;

	background: #000000;
}

#work-info-minima {
	width: 40%;
	min-height: 475px;
	max-height: 475px;

	padding: 0;
	margin: 0;

	position: relative;
	float: left;

	background: #000000;
}

#work-info-title-minima {
	width: 100%;
	height: 74px;

	float: right;
	margin-top: 2.5%;

	background: #000000;
	color: #FFFFFF;
}

#work-info-title-content-minima {
	width: 85%;
	height: auto;

	margin-left: 6.5%;
}

#work-info-title-content-minima p {
	margin: 0;
	padding: 0;
}

#work-info-title-content-minima span {
	margin: 0;
	padding: 0;
}

#work-info-title-content-minima span span {
	margin: 0;
	padding: 0;
}

.work-info-text-minima {
	background: #000000;
	color: #FFFFFF;
}

#work-info-text-content-minima p {
	margin: 0;
	padding: 0;
}

#work-info-text-content-minima span {
	margin: 0;
	padding: 0;
}

#work-info-text-content-minima span span {
	margin: 0;
	padding: 0;
}

#work-minima-galeria-container {
	width: 100%;
	height: 75px;

	float: left;

	background: #FFFFFF;
}

#work-minima-galeria {
	width: 40%;
	height: 72px;

	position: relative;
	float: left;
	margin-top: 3px;

	background: #FFFFFF;
}

.work-minima-galeria-item {
	width: 98px;
	height: 72px;

	float: left;
	margin-left: 1px;
	margin-right: 1px;
}

#minima-gallery-prev {
	top: 495px;
	left: 60.4%;

	width: 17px;
	height: 35px;
}

#minima-gallery-next {
	top: 495px;
	right: 0px;

	width: 17px;
	height: 35px;
}

// TERMINA CSS SHOW MINIMA

// EMPIEZA CSS SHOW MINIMA MINIMA

#work-container-minima-minima {
	position: relative;

	width: 100%;
	height: 550px;
	margin-top: -5px;

	background: #000000;
}

#work-display-minima-minima {
	width: 60%;
	height: 550px;
	float: left;

	background: #FFFFFF;
}

#work-info-minima-minima {
	width: 40%;
	height: 550px;

	padding: 0;
	float: left;

	background: #000000;
}

#work-info-title-minima-minima {
	width: 100%;
	height: 74px;

	float: right;
	margin-top: 2.5%;

	background: #000000;
	color: #FFFFFF;
}

#work-info-title-content-minima-minima {
	width: 85%;
	height: auto;

	margin-left: 6.5%;
}

#work-info-title-content-minima-minima p {
	margin: 0;
	padding: 0;
}

#work-info-title-content-minima-minima span {
	margin: 0;
	padding: 0;
}

#work-info-title-content-minima-minima span span {
	margin: 0;
	padding: 0;
}

.work-info-text-minima-minima {
	background: #000000;
	color: #FFFFFF;
}

#work-info-text-content-minima-minima p {
	margin: 0;
	padding: 0;
}

#work-info-text-content-minima-minima span {
	margin: 0;
	padding: 0;
}

#work-info-text-content-minima-minima span span {
	margin: 0;
	padding: 0;
}

// TERMINA CSS SHOW MINIMA MINIMA

// EMPIEZA CSS RODILLO

#work-grids-container div.scrollableArea div {
	display: block;
}

#work-grids-container {
	width: 100%;
	height: 500px;
	margin-top: -5px;

	position: relative;
}

.work-grid {
	position: relative;
}

.grid-element-0 {
	width: 22.0472%;
	height: 24.6%;

	position: absolute;
	left: 0.0889%;
	top: 0.2%;
	overflow: hidden;

	background-color: #000000;
}

.grid-element-1 {
	width: 10.9347%;
	height: 24.6%;

	position: absolute;
	left: 22.3139%;
	top: 0.2%;
	overflow: hidden;

	background-color: #000000;
}

.grid-element-2 {
	width: 22.0472%;
	height: 49.6%;

	position: absolute;
	left: 33.4264%;
	top: 0.2%;
	overflow: hidden;

	background-color: #000000;
}

.grid-element-3 {
	width: 22.0472%;
	height: 24.6%;

	position: absolute;
	left: 55.6514%;
	top: 0.2%;
	overflow: hidden;

	background-color: #000000;
}

.grid-element-4 {
	width: 10.9347%;
	height: 24.6%;

	position: absolute;
	left: 77.8764%;
	top: 0.2%;
	overflow: hidden;

	background-color: #000000;
}

.grid-element-5 {
	width: 10.9347%;
	height: 49.6%;

	position: absolute;
	left: 0.0889%;
	top: 25.2%;
	overflow: hidden;

	background-color: #000000;
}

.grid-element-6 {
	width: 22.0472%;
	height: 49.6%;

	position: absolute;
	left: 11.2014%;
	top: 25.2%;
	overflow: hidden;

	background-color: #000000;
}

.grid-element-7 {
	width: 10.9347%;
	height: 24.6%;

	position: absolute;
	left: 33.4264%;
	top: 50.2%;
	overflow: hidden;

	background-color: #000000;
}

.grid-element-8 {
	width: 22.0472%;
	height: 49.6%;

	position: absolute;
	left: 44.5389%;
	top: 50.2%;
	overflow: hidden;

	background-color: #000000;
}

.grid-element-9 {
	width: 10.9347%;
	height: 24.6%;

	position: absolute;
	left: 55.6514%;
	top: 25.2%;
	overflow: hidden;

	background-color: #000000;
}

.grid-element-10 {
	width: 22.0472%;
	height: 49.6%;

	position: absolute;
	left: 66.7639%;
	top: 25.2%;
	overflow: hidden;

	background-color: #000000;
}

.grid-element-11 {
	width: 10.9347%;
	height: 24.6%;

	position: absolute;
	left: 11.2014%;
	top: 75.2%;
	overflow: hidden;

	background-color: #000000;
}

.grid-element-12 {
	width: 22.0472%;
	height: 24.6%;

	position: absolute;
	left: 22.3139%;
	top: 75.2%;
	overflow: hidden;

	background-color: #000000;
}

.grid-element-13 {
	width: 10.9347%;
	height: 24.6%;

	position: absolute;
	left: 66.7639%;
	top: 75.2%;
	overflow: hidden;

	background-color: #000000;
}

.grid-element-14 {
	width: 22.0472%;
	height: 24.6%;

	position: absolute;
	left: 77.8764%;
	top: 75.2%;
	overflow: hidden;

	background-color: #000000;
}

.grid-element-extra-0 {
	width: 10.9347%;
	height: 24.6%;

	position: absolute;
	left: 0.0889%;
	top: 75.2%;
	overflow: hidden;

	background-color: #000000;
}

.grid-element-extra-1 {
	width: 10.9347%;
	height: 74.6%;

	position: absolute;
	left: 88.9889%;
	top: 0.2%;
	overflow: hidden;

	background-color: #000000;
}

.grid-element-info {
	width: 100%;
	position: relative;
	color: #FFFFFF;
	margin-top: -11px;
}

// TERMINA CSS RODILLO