// Place all the styles related to the works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// EMPIEZA CSS FORMULARIO NEW WORK
#form-new-work-wrapper {
	width: 100%;
}

#form-new-work {
	position: relative;

	margin-top: 1.5%;
	margin-left: 2.5%;
	
	font-family: latha, latha_ie;
	font-size: 1em;
}
// TERMINA CSS FORMULARIO NEW WORK

// COMIENZA CSS SHOW FULL
#work-container-full {
	width: 100%;
	min-height: 550px;
	background: #00FF00;
}

#work-display-full {
	width: 60%;
	height: 400px;

	position: relative;

	background-color: #FF0000;
}

#work-info-full {
	width: 40%;
	min-height: 400px;

	margin-top: -40%;
	padding: 0;
	float: right;

	text-align: justify;

	background: #000000;
}

#work-info-title-full {
	width: 100%;
	height: 74px;

	float: right;
	margin-top: 2.5%;

	background: #000000;
	color: #FFFFFF;
}

#work-info-title-content-full {
	width: 85%;
	height: auto;

	margin-left: 6.5%;
}

.work-info-text-full {
	background: #000000;
	color: #FFFFFF;
}

#work-info-menu-navigator {
	width: 100%;
	height: 62px;

	display: block;
	background-color: #000000;
}

#work-info-menu {
	width: 100%;
	height: 62px;
	position: relative;

	margin: 0;
	padding-top: 20px;
	padding-left: 20px;

	color: #FFFFFF;
	list-style: none;
	display: inline-table;
}

#work-info-menu:after {
	content: "";
	clear: both;
	display: block;
}

#work-info-menu > li {
	width: 60px;
	height: 20px;

	position: relative;
	float: left;

	font-family: latha, latha_ie;
	font-size: 11px;
	text-align: center;

	cursor: pointer;
}

#work-info-menu > li div {
	position: relative;

	top: 17%;
}

#work-info-menu > li:hover {
	background: #FFFFFF;
	color: #000000;
}

#work-info-menu > a {
	position: relative;
	float: right;

	margin-right: 11px;

	font-family: latha, latha_ie;
	font-size: 12px;
}

// TERMINA CSS SHOW FULL
